.home {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 30px;
}

.title {
    color: #0D47A1;
}

.eventGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gridItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0D47A1;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.link {
    text-decoration: none;
    background-color: #E3F2FD;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 8px;
    color: #0D47A1;
    font-weight: 700;
}